.main {
  width: 100%;
  height: auto;
  min-height: 60dvh;
  padding: calc(20px + 1vh) calc(0.625rem + 5vw);
  display: flex;
  align-items: center;
}
.main__content {
  text-align: center;
  color: var(--white0);
}
.home__banner {
  width: 50%;
  height: 100%;
  & img {
    width: 100%;
  }
}
.content__text {
  font-size: calc(10px + 3vw);
  user-select: none;
  text-align: left;
}
.connect__btn {
  padding: 10px 20px;
  border: 2px solid var(--green5);
  background-color: transparent;
  color: var(--green5);
  font-size: calc(2px + 1vw);
  margin-top: calc(20px + 1vh);
  border-radius: 8px;
  transition: 250ms ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: var(--green5);
    color: var(--white0);
  }
}

@media screen and (max-width: 768px) {
  .connect__btn {
    font-size: calc(5px + 1vw);
  }
  .content__text {
    font-size: calc(1rem + 5vw);
  }
}
@media screen and (max-width: 500px) {
  .connect__btn {
    font-size: 13px;
  }
  .content__text {
    font-size: calc(0.5rem + 5vw);
  }
}
