.main {
  width: 100%;
  height: auto;
  min-height: 60vh;
  padding: calc(20px + 1vh) calc(0.625rem + 5vw);
  position: relative;
  display: grid;
  place-items: center;
}
.main__content {
  width: 100%;
  max-width: 1550px;
  margin: auto;
  height: 100%;
  text-align: center;
  color: var(--white0);
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
}

.content__text {
  font-family: var(--font-rowdies);
  font-size: calc(10px + 2vw);
  user-select: none;
  text-align: left;
  & span {
    font-family: var(--font-rowdies);
  }
}
.connect__btn {
  padding: 10px 20px;
  border: 2px solid var(--green5);
  background-color: transparent;
  color: var(--green5);
  font-family: var(--font-rowdies);
  font-size: calc(2px + 1vw);
  margin-top: calc(20px + 1vh);
  border-radius: 8px;
  transition: 250ms ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: var(--green5);
    color: var(--white0);
  }
}
