.sidebar {
  width: 100%;
  height: 300px;
  background-color: #0933262c;
  backdrop-filter: blur(8px) brightness(1) contrast(1) grayscale(0)
    hue-rotate(0) invert(0) opacity(1) saturate(1) sepia(0);
  position: fixed;
  top: calc(1.3rem + 6vh);
  right: 0;
  opacity: 0;
  z-index: -1;
  padding: 1.25rem;
  transform-origin: top right;
  transition: 150ms ease-in-out;
  border-radius: 0.8rem;
  z-index: 999;
  text-align: center;
}
.sidebar__link {
  font-size: 1.15rem;
  margin: calc(0.3rem + 1vw) 0;
  color: #fff;
  cursor: pointer;
}
.sidebar__active {
  opacity: 1;
  z-index: 999;
}
@media screen and (min-width: 1024px) {
  .sidebar {
    display: none;
  }
}
