.pagenotfound__banner {
  width: 100%;
  height: 100lvh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--green1);
  z-index: 999;
  display: grid;
  place-items: center;
}
.content__404 {
  padding: 30px;
  text-align: center;
  color: var(--white0);
}
.title__404 {
  font-size: calc(1.8rem + 1vw);
  line-height: 1;
}
.subtitle__404 {
  font-size: calc(2rem + 1vw);
  line-height: 1.3;
}
.label__404 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: -1;
}
.four__404 {
  font-size: calc(8rem + 5vw);
  margin: 0 calc(0.1rem + 1vw);
  color: var(--green2);
  font-weight: 700 !important;
  font-family: var(--font);
}
.back__link {
  font-family: var(--font);
  color: var(--green5);
}

@media screen and (max-width: 400px) {
  .title__404 {
    font-size: calc(1.2rem + 1vw);
  }
  .subtitle__404 {
    font-size: calc(1.4rem + 1vw);
  }
  .four__404 {
    font-size: calc(8rem + 1vw);
  }
}
