.courses {
  padding: 30px calc(0.625rem + 5vw);
  font-family: var(--font);
}
.course__cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  grid-template-rows: auto;
  gap: 20px;
  padding: 50px 0;
}
.course__card {
  min-height: 220px;
  border: 1px solid #2ea85748;
  padding: 20px;
  border-radius: 12px;
  transition: 300ms ease;
  cursor: pointer;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
  &:hover {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }
}
.learn__more {
  color: var(--grey);
  font-size: 18px;
  font-family: var(--font-sans);
  display: inline-flex !important;
  justify-content: start;
  margin-top: 20px;
}
.learn__more:hover svg {
  transform: rotate(45deg);
  transition: 200ms ease-in-out;
  color: var(--green5);
}
.card__title {
  color: var(--green4);
}
.card__text {
  font-size: 22px;
  margin: 10px 0;
  color: var(--grey);
  font-family: var(--font-sans);
}
.course__title {
  color: var(--white0);
  font-size: 24px;
}
.course__wrp {
  padding: 30px calc(0.625rem + 5vw);
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}
.course__banner {
  & img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
@media screen and (min-width: 1024px) {
  .course__banner img {
    max-width: 640px;
    max-height: 550px;
  }
}
.skills__wrp {
  display: flex;
  flex-wrap: wrap;
  margin: 15px 0;
  column-gap: 6px;
  & .skill__text {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #105f38;
    font-family: var(--font);
    border-radius: 6px;
    font-weight: 300;
    color: var(--white0);
  }
}
.course__content {
  & .course__title {
    margin-bottom: 20px;
  }
  & .course__description {
    color: var(--grey);
    font-size: clamp(1rem, 1.4rem, 1.8rem);
    font-family: var(--font-sans);
    line-height: 1.3;
  }
}
@media screen and (max-width: 1555px) {
  .courses {
    padding: 30px 50px;
  }
}
@media only screen and (max-width: 1100px) {
  .course__wrp {
    grid-template-columns: 1fr;
  }
  .course__cards {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
  .courses {
    padding: 30px;
  }
  .card__text {
    font-size: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .course__cards {
    grid-template-columns: 1fr;
  }
  .card__text {
    font-size: 18px;
  }
  .learn__more {
    font-size: 16px;
  }
  .course__content {
    text-align: center;
    & .course__description {
      font-size: 20px;
    }
  }
  .skills__wrp {
    justify-content: center;
    & .skill__text {
      font-size: 14px;
    }
  }
}
